.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 50px;
  justify-content: space-around;
}
form {
  width: 100%;
  max-width: 280px;
  margin: 10px 0 10px 10px; 
}

select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 500px) and (max-width: 768px) {
  .results {
      grid-template-columns: repeat(2, 1fr);
  }  
}

@media (max-width: 499px) {
  .results {
      grid-template-columns: 1fr;
  }    
}